.description {
  &__container {
    position: relative;
    padding: 90px 120px 0 0;
    display: flex;

    @media (max-width: 1439px) {
      padding: 60px 60px 0 0;
    }

    @media (max-width: 1079px) {
      padding: 0;
      padding-top: 47px;
      flex-direction: column-reverse;
    }

    &:before {
      @include line;
      left: 0;
      opacity: 0.6;
      z-index: -1;
      box-shadow: 120px 0 0 $light-grey,
          360px 0 0 $light-grey,
          600px 0 0 $light-grey,
          840px 0 0 $light-grey,
          1080px 0 0 $light-grey,
          1320px 0 0 $light-grey,
          1440px 0 0 $light-grey;


      @media (max-width: 1439px) {
        box-shadow: 60px 0 0 $light-grey,
          300px 0 0 $light-grey,
          540px 0 0 $light-grey,
          780px 0 0 $light-grey,
          1020px 0 0 $light-grey,
          1080px 0 0 $light-grey;
      }
      @media (max-width: 1079px) {
        left: 50%;
        box-shadow: 384px 0 0 $light-grey,
        -384px 0 0 $light-grey;
      }

      @media (max-width: 767px) {
        box-shadow: calc(100vw / 2 - 25px) 0 0 $light-grey,
        calc(-100vw / 2 + 25px) 0 0 $light-grey;
      }
    }
  }

  &__awards {
    background: linear-gradient(180deg, rgba(60, 113, 233, 0) 0%, #3C71E9 100%);
    padding: 190px 50px 115px 120px;
    margin-right: 240px;

    @media (max-width: 1439px) {
      padding-left: 60px 0;
      margin-right: 5px;
      display: flex;
    }

    @media (max-width: 1079px) {
      padding: 60px;
      margin-right: 0;
      display: flex;
      justify-content: space-around;
    }

    @media (max-width: 550px) {
      justify-content: space-between;
      padding: 86px 25px 56px;
    }
  }

  &__award-1 {
    background-image: url('/src/images/pages/products/award-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 190px;
    height: 76px;
    margin-bottom: 47px;

    @media (max-width: 550px) {
      width: 150px;
      height: 60px;
    }
  }

  &__award-2 {
    background-image: url('/src/images/pages/products/award-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 190px;
    height: 80px;
    color: #fff;

    @media (max-width: 550px) {
      width: 150px;
      height: 60px;
      background-image: url('/src/images/pages/products/award-2-mobile.png');
    }

    &-name {
      position: relative;
      font-family: 'Alfa Slab One', cursive;
      font-size: 15px;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;
      width: 120px;
      margin: auto;
      margin-bottom: 3px;

      @media (max-width: 550px) {
        display: none;
      }

      &:before {
        content: '';
        position: absolute;
        width: 104px;
        height: 1px;
        bottom: -5px;
        left: 50%;
        transform: translate(-50%);
        background-color: #fff;
      }
    }

    &-year {
      font-weight: 500;
      font-size: 16px;
      line-height: 36px;
      text-align: center;
      width: 104px;
      margin: auto;

      @media (max-width: 550px) {
        display: none;
      }
    }
  }

  &__list {
    display: flex;

    @media (max-width: 1079px) {
      width: calc(100% - 50px);
      margin: auto;
    }

    @media (max-width: 375px) {
      width: calc(100% - 30px);
      margin: auto;
    }
  }

  &__item {
    width: calc(100% / 3);
    padding-right: 40px;
    outline: none;
    opacity: 0;
    transform: translateX(-70px);
    transition: all 800ms ease-in-out;

    &--visible {
      opacity: 1;
      transform: translateX(0);
    }

    @media (max-width: 767px) {
      padding-right: 0;
      margin: 0 10px;
    }
  }

  &__photo-1,
  &__photo-2,
  &__photo-3 {
    display: none;

    @media (max-width: 767px) {
      display: block;
      height: calc((100vw - 50px - 20px) / 1.477);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 50px;
    }
  }

  &__photo-1 {
    background-image: url(/src/images/pages/products/photo-1.png);
  }

  &__photo-2 {
    background-image: url(/src/images/pages/products/photo-3.png);
  }

  &__photo-3 {
    background-image: url(/src/images/pages/products/photo-2.png);
  }

  &__title {
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    text-transform: uppercase;
    color: $main-blue;
    margin-bottom: 27px;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #7685A9;

    @media (max-width: 767px){
      font-size: 14px;
    }
  }

  &__dots {
    display: flex;
    position: absolute;
    top: calc((100vw - 50px - 20px) / 1.477);
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);

    & li {
      width: calc(100% / 3);
      background-color: transparent;
      height: 5px;
      border: none;
      transition: background-color 500ms ease;

      &.slick-active {
        background-color: $main-blue;
      }

      & button {
        opacity: 0;
      }
    }
  }
}
