.banner {
  margin-top: 132px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background: linear-gradient(0deg, rgba(239,243,253,1) 0%, rgba(255,255,255,1) 100%);

  @media (max-width: 1079px) {
    margin-top: 115px;
  }

  @media (max-width: 767px) {
    margin-top: 0;
  }


  &__waves {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 13px 120px 33px;
    z-index: 1;

    @media (max-width: 1439px) {
      padding: 0 60px;
    }

    @media (max-width: 1079px) {
      padding: 0 25px;
      height: calc(100vh - 115px);
    }

    @media (max-width: 767px) {
      padding: 0;
      height: calc(100vh - 96px);
    }

    &:before {
      @include line;
      left: 0;
      opacity: 0.6;
      z-index: -1;
      box-shadow: 120px 0 0 $light-grey,
          360px 0 0 $light-grey,
          600px 0 0 $light-grey,
          840px 0 0 $light-grey,
          1080px 0 0 $light-grey,
          1320px 0 0 $light-grey,
          1440px 0 0 $light-grey;

      @media (max-width: 1439px) {
        box-shadow: 60px 0 0 $light-grey,
          300px 0 0 $light-grey,
          540px 0 0 $light-grey,
          780px 0 0 $light-grey,
          1020px 0 0 $light-grey,
          1080px 0 0 $light-grey;
      }

      @media (max-width: 1079px) {
        left: 50%;
        box-shadow: 384px 0 0 $light-grey,
        -384px 0 0 $light-grey;
      }

      @media (max-width: 767px) {
        box-shadow: calc(100vw / 2 - 25px) 0 0 $light-grey,
        calc(-100vw / 2 + 25px) 0 0 $light-grey;
      }
    }
  }

  &__planet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 483px;
    height: 483px;
    padding: 138px 32px 182px;
    background-image: url('/src/images/pages/products/planet.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__title {
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 69px;
    line-height: 80px;
    text-transform: uppercase;
    color: #3C71E9;
    margin-bottom: auto;
  }

  &__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #7685A9;
    text-align: center;

    @media (max-width: 375px) {
      width: 254px;
    }
  }

  &__button {
    position: absolute;
    bottom: 15vh;
    left: 50%;
    z-index: 1;
    display: block;
    transform: translateX(-50%) rotate(45deg);
    width: 24px;
    height: 24px;
    border-bottom: 2px solid $main-blue;
    border-right: 2px solid $main-blue;
    transition: opacity 500ms ease;

    @media (min-width: 768px) {
      display: none;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
