.about {
  &__container {
    position: relative;
    padding: 75px 25px 25px;
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid $lightest-grey;

    &:before {
      @include line;
      left: 50%;
      z-index: -1;
      opacity: 0.5;
      box-shadow: calc(100vw / 2 - 25px) 0 0 $light-grey,
        calc(-100vw / 2 + 25px) 0 0 $light-grey;
    }
  }

  &__text {
    margin-bottom: 68px;
    transition: opacity 800ms ease-in-out;
  }

  &__title {
    font-family: "Teko", sans-serif;
    @include text($dark-grey, 45px, 50px);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 28px;

    & span {
      color: $main-blue;
    }
  }

  &__text-column {
    @include text($dark-grey, 14px, 30px);
    font-weight: 500;

    &:first-of-type {
      margin-bottom: 28px;
    }
  }

  &__video {
    position: relative;
  }

  &__mission-mobile,
  &__mission-mobile-full {
    position: absolute;
    width: 320px;
    top: 50%;
    left: -25px;
  }

  &__mission-mobile {
    z-index: 1;
  }

  &__mission-mobile-full {
    z-index: -1;
  }

  &__mission,
  &__mission-full {
    display: none;
  }
}

[data-aos="mission-mobile"],
[data-aos="mission-mobile-full"] {
  opacity: 0;
  transform: translate(-100%, -50%);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

@media (min-width: 375px) {
  .about {
    &__mission-mobile,
    &__mission-mobile-full {
      width: 375px;
    }
  }
}

@media (min-width: 768px) {
  .about {
    &__container {
      padding-bottom: 75px;

    }

    &__mission-mobile,
    &__mission-mobile-full {
      display: none;
    }

    &__video {
      height: 481px;
      width: 481px;
      margin: auto;
    }

    &__video-frame {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__mission,
    &__mission-full {
      display: block;
      position: absolute;
      width: 127px;
      height: 568px;
      top: 50%;
      left: 50%;
      transition: all 1000ms ease-in-out;
    }

    &__mission {
      background-image: url(../images/mission-stroke.svg);
      z-index: 1;

    }

    &__mission-full {
      background-image: url(../images/mission-full.svg);
      z-index: -1;
    }

    &__video-triangle {
      position: absolute;
      top: 0;
      right: 0;
      width: 91px;
      height: 91px;
      background-image: url(../images/grey-triangle-about.svg);
      transition: opacity 800ms ease-in-out;
    }

    &__video-blue-square {
      position: absolute;
      width: 91px;
      height: 91px;
      top: 0;
      right: -91px;
      background-color: $main-blue;
      z-index: 1;
      opacity: 0;
      transition: opacity 800ms ease-in-out;
    }

    &__video-grey-square {
      position: absolute;
      width: 91px;
      height: 91px;
      top: -91px;
      right: 0;
      background-color: $lightest-grey;
      transition: opacity 800ms ease-in-out;
    }

    &__text {
      margin: auto;
      margin-bottom: 150px;
    }

    &__description {
      display: flex;
    }

    &__text-column {
      width: 240px;
      padding-right: 40px;
      @include text($dark-grey, 16px, 36px);
      font-weight: 500;
    }
  }
}

@media (min-width: 1080px) {
  .about {

    &__container {
      position: relative;
      flex-direction: row;
      border-bottom: 1px solid $lightest-grey;

      &:after {
        content: "";
        position: absolute;
        width: 240px;
        height: 100%;
        background-color: $lightest-grey;
        top: 0;
        left: 0;
        z-index: -2;
      }

      &:before {
        left: 0;
        box-shadow: 60px 0 0 $light-grey,
          300px 0 0 $light-grey,
          540px 0 0 $light-grey,
          780px 0 0 $light-grey,
          1020px 0 0 $light-grey,
          1080px 0 0 $light-grey;
      }
    }

    &__title {
      font-size: 69px;
      line-height: 80px;
      margin-bottom: 52px;
    }

    &__video-blue-square {
      display: none;
    }
  }
}

@media (min-width: 1440px) {
  .about {

    &__container {
      padding: 220px 0 220px 120px;

      &:after {
        width: 360px;
      }

      &:before {
        box-shadow: 120px 0 0 $light-grey,
          360px 0 0 $light-grey,
          600px 0 0 $light-grey,
          840px 0 0 $light-grey,
          1080px 0 0 $light-grey,
          1320px 0 0 $light-grey,
          1440px 0 0 $light-grey;
      }
    }

    &__video {
      margin: 0;
      margin-top: 60px;
      margin-right: 240px;
    }

    &__video-blue-square {
      display: block;
    }
  }
}

[data-aos="mission"],
[data-aos="mission-full"] {
  opacity: 0;
  transform: translate(calc(-50% - 70px), -50%);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
