@import "utils";

.leader {
  &__container {
    padding-left: 120px;
    display: flex;
    position: relative;

    &:before {
      @include line;
      left: 0;
      z-index: -3;
      opacity: 0.5;
      box-shadow: 120px 0 0 $light-grey,
        360px 0 0 $light-grey,
        600px 0 0 $light-grey,
        840px 0 0 $light-grey,
        1080px 0 0 $light-grey,
        1440px 0 0 $light-grey;
    }
  }

  &__text {
    margin-top: 219px;
    width: 500px;
    margin-right: 219px;
    margin-bottom: 204px;
    transition: all 1000ms ease-in-out;
  }

  &__title {
    font-family: "Teko", sans-serif;
    @include text($dark-grey, 69px, 80px);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 41px;

    & span {
      color: $main-blue;
    }
  }

  &__description {
    @include text($dark-grey, 16px, 36px);
    font-weight: 500;

    &:first-of-type {
      margin-bottom: 40px;
    }
  }

  &__video {
    position: relative;
    width: 479px;
    height: 502px;
    margin-top: 293px;

    &:before {
      content: "";
      width: 478px;
      height: 442px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(../images/video-shadow-1.svg);
      z-index: 0;
    }
  }

  &__svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    z-index: 1;
  }

  &__video-frame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 477px;
    height: 501px;
    object-fit: cover;
  }

  &__video-text {
    position: absolute;
    top: 285px;
    left: 0;
    width: 184px;
    @include text($main-blue, 35px, 50px);
    font-family: "Teko", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 2;
  }

  &__one {
    position: absolute;
    width: 361px;
    height: 1024px;
    top: 0;
    right: 0;
    z-index: -2;
    background-color: $lightest-grey;

    &--visible:before {
      opacity: 1;
    }

    &--visible:after {
      opacity: 1;
    }
  }

  &__grey-triangle {
    position: absolute;
    top: 0;
    left: -91px;
    width: 91px;
    height: 91px;
    background-image: url(../images/grey-triangle-leader.svg);
    transition: opacity 500ms ease-in-out;
  }

  &__grey-square {
    position: absolute;
    top: 91px;
    left: -91px;
    width: 91px;
    height: 91px;
    background-color: $lightest-grey;
    transition: opacity 500ms ease-in-out;
  }

  &__blue-square {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $main-blue;
    width: 91px;
    height: 91px;
  }

  &__blue-rectangle {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $main-blue;
    width: 182px;
    height: 91px;
    z-index: 1;
  }
}

#masked {
  mask: url("#maskLayer");
}
