.map-career {
  &__container {
    position: relative;
    padding: 113px 120px 93px;

    @media (max-width: 1439px) {
      padding: 113px 60px;
    }

    @media (max-width: 1079px) {
      padding: 75px 25px;
    }

    &:before {
      @include line;
      left: 0;
      opacity: 0.6;
      z-index: -1;
      box-shadow: 120px 0 0 $light-grey,
          360px 0 0 $light-grey,
          600px 0 0 $light-grey,
          840px 0 0 $light-grey,
          1080px 0 0 $light-grey,
          1320px 0 0 $light-grey,
          1440px 0 0 $light-grey;

      @media (max-width: 1439px) {
        box-shadow: 60px 0 0 $light-grey,
          300px 0 0 $light-grey,
          540px 0 0 $light-grey,
          780px 0 0 $light-grey,
          1020px 0 0 $light-grey,
          1080px 0 0 $light-grey;
      }

      @media (max-width: 1079px) {
        left: 50%;
        box-shadow: 384px 0 0 $light-grey,
        -384px 0 0 $light-grey;
      }

      @media (max-width: 767px) {
        box-shadow: calc(100vw / 2 - 25px) 0 0 $light-grey,
        calc(-100vw / 2 + 25px) 0 0 $light-grey;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1079px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 65px;
    }
  }

  &__title {
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 69px;
    line-height: 80px;
    text-transform: uppercase;
    color: $main-blue;
    width: 100%;
    max-width: 423px;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    transform: translateX(-70px);

    &--visible {
      opacity: 1;
      transform: translateX(0);
    }

    @media (max-width: 768px) {
      font-size: 35px;
      line-height: 50px;
    }

    & span {
      color: $dark-grey;
    }

    @media (max-width: 1079px) {
      max-width: 100%;
    }
  }

  &__map {
    width: 100%;
    max-width: 720px;
    height: auto;
    margin-top: 50px;
    position: relative;

    @media (max-width: 900px) {
      max-width: 100%;
    }
  }

  &__image-wrap {
    position: absolute;
    width: 141px;
    height: 141px;

    @media (max-width: 900px) {
      width: 120px;
      height: 120px;
    }

    @media (max-width: 650px) {
      width: 80px;
      height: 80px;
    }

    @media (max-width: 480px) {
      width: 64px;
      height: 64px;
    }

    &--1 {
      top: -20px;
      left: 20%;
    }

    &--2 {
      right: 0;
      top: 30%;

      @media (max-width: 900px) {
        right: 0;
      }
    }

    &--3 {
      bottom: 30px;
      right: 35%;
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;

    &-filter {
      position: absolute;
      top: 10px;
      left: 0;
      z-index: -1;
      filter: blur(10px);
    }
  }

  &__request {
    position: absolute;
    left: 120px;
    bottom: 93px;
    width: 100%;
    max-width: 480px;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    transform: translateX(-70px);

    &--visible {
      opacity: 1;
      transform: translateX(0);
    }

    @media (max-width: 1439px) {
      left: 60px;
    }

    @media (max-width: 1079px) {
      position: static;
      margin: auto;
    }

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }

  &__request-title {
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    text-transform: uppercase;
    color: #3C71E9;
    margin-bottom: 36px;
  }

  &__item {
    margin-bottom: 20px;
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    outline: none;
    display: flex;
  }

  &__text {
    display: flex;
    margin-right: auto;

    @media (max-width: 450px) {
      flex-direction: column;
    }
  }

  &__vacancy {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #3C71E9;
    width: 240px;
  }

  &__remote {
    font-size: 16px;
    line-height: 20px;
    color: $dark-grey;
    margin-right: auto;

    @media (max-width: 450px) {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__plus {
    position: relative;
    width: 24px;
    height: 24px;

    @media (max-width: 767px) {
      width: 46px;
      height: 46px;
      background-color: $lightest-grey;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 24px;
      background-image: url(/src/images/pages/career/plus-icon.svg);
    }
  }
}

// map

.Map-container {
  position: relative;
}

#Map-svg {
  width: 900px;
  max-width: 100%;
  height: auto;

  @media (max-width: 1079px) {
    width: 100%;
  }
}

.Location-nav {
  margin-top: 35px;
  color: rgba(#fff, 0.75);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    margin: 15px;
    cursor: default;
    user-select: none;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background: rgba(#fff, 0.75);
      opacity: 0;
      transform: translateY(100%);
      transition: opacity 0.25s linear, transform 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &:hover {

      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
