* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

ul,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import "global/utils";
@import "global/fonts";
@import "global/button-block";

@import "components/container";
@import "components/header";
@import "components/nav";
@import "components/logos";
@import "components/building";
@import "components/product";
@import "components/footer";
@import "components/contacts";

@import "sections/products";
@import "sections/promo";
@import "sections/leader";
@import "sections/about";
